body {
  background: url("https://filmmakingunedited.files.wordpress.com/2013/09/paper-notepad-white-texture-by-aaron-pate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: ;
}
div {
  text-align: center
}
header {
  text-align: center;
  background-color: #6699ff;
}
.blog-details {
  text-align: center;
  width: 50%;
  background-color: #6699ff;
  margin:auto;
}
.css-topics {
  text-align: center;
  border:10px;
  width: 300px;
  background-color: #6699ff;

}
h3{
  background-color:white;
  margin: 1px;
  padding: 4px;
  width: 100%;
}
.what-is-it, .syntax-rules, .words, .organizing, .more-fun {
  margin: 10px;
  padding: 40px;
  background-color: #6699ff;
  width: 50%;
}

footer{
  background-color: #6699ff;
  width: 100%;
  height: em;
  text-align:center
}
