body {
  background: url("https://filmmakingunedited.files.wordpress.com/2013/09/paper-notepad-white-texture-by-aaron-pate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: ;
}
div {
  text-align: center
}
header {
  text-align: center;
  background-color: #6699ff;
}
.blog-details {
  text-align: center;
  width: 50%;
  background-color: #6699ff;
  margin:auto;
}
.css-topics {
  text-align: center;
  width: 50%;
  background-color: #6699ff;
  margin: auto;
}
.what-is-it h3{
  background-color:white;
  margin: 1px;
  padding: 4px;
  width: 100%;
}
.what-is-it {
  margin: 10px;
  padding: 40px;
  background-color: #6699ff;
}
.syntax-rules h3{
  background-color:white;
  margin: 1px;
  padding: 4px;
  width: 100%;
}
.syntax-rules {
  background-color:#6699ff;
  margin: 10px;
  padding: 40px;

}
.words h3{
  background-color:white;
  margin: 1px;
  padding: 4px;
  width: 100%;
}
.words{
  background-color:#6699ff;
  margin: 10px;
  padding: 40px;
}
.organizing h3{
  background-color:white;
  margin: 1px;
  padding: 4px;
  width: 100%;
}
.organizing{
  background-color:#6699ff;
  margin: 10px;
  padding: 40px;
}

footer{
  background-color: #6699ff;
  width: 100%;
  height: em;
  text-align:center
}
